@using HolidayApp.Models
@model SearchModelView
@{
    ViewBag.Title = "FiltrRoomAndHolidayHome";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<style type="text/css">
    .field-validation-error {
        color: red;
    }
</style>

<div class="container">

    <div class="row">

        <div class="col-lg-4" style="background-color:#F8FD8E">
           
            @using (Html.BeginForm("FiltrRoomAndHolidayHomeSecond", "Home"))
            {
                <div>
                    @Html.ValidationMessage("country")
                </div>
                <div class="form-group">
                    @Html.Label("Country")
                    @Html.TextBox("country", null, new { @class = "form-control" })
                </div>
                <div>
                    @Html.ValidationMessage("city")
                </div>
                <div class="form-group">
                    @Html.Label("City")
                    @Html.TextBox("city", null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.DropDownList("choose", EnumHelper.GetSelectList(typeof(Choose)), new { @class = "form-control" })

                </div>
                <div class="form-group">
                    @Html.Label("Number of Guests")
                    @Html.TextBox("guestnumber", null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Number of Beds")
                    @Html.TextBox("bednumber", null, new { @class = "form-control" })
                </div>
                <div>
                    @Html.ValidationMessage("bookfrom")
                </div>
                <div class="form-group">
                    @Html.Label("Book From")
                    @Html.TextBox("bookfrom", null, new { @class = "form-control datepicker" })
                </div>
                <div>
                    @Html.ValidationMessage("bookto")
                </div>
                <div class="form-group">
                    @Html.Label("Book To")
                    @Html.TextBox("bookto", null, new { @class = "form-control datepicker" })
                </div>


                if (Model.holidayhomes != null && Model.holidayhomes.Count > 0)
                {
                    for (int i = 0; i < Model.holidayhomes.Count; i++)
                    {
                        @Html.Hidden("holidayhomes[" + i + "].RoomId", Model.holidayhomes[i].HolidayHomeId, new { })
                        @Html.Hidden("holidayhomes[" + i + "].Price", Model.holidayhomes[i].Price, new { })
                        @Html.Hidden("holidayhomes[" + i + "].numberofGuests", Model.holidayhomes[i].numberofGuests, new { })
                        @Html.Hidden("holidayhomes[" + i + "].numberofBeds", Model.holidayhomes[i].numberofBeds, new { })
                        @Html.Hidden("holidayhomes[" + i + "].doubleBed", Model.holidayhomes[i].doubleBed, new { })
                        @Html.Hidden("holidayhomes[" + i + "].petsAllowed", Model.holidayhomes[i].petsAllowed, new { })
                        @Html.Hidden("holidayhomes[" + i + "].Kitchen", Model.holidayhomes[i].Kitchen, new { })
                        @Html.Hidden("holidayhomes[" + i + "].Toilet", Model.holidayhomes[i].Toilet, new { })
                        @Html.Hidden("holidayhomes[" + i + "].numberofTelevisions", Model.holidayhomes[i].numberofTelevisions, new { })   
                        @Html.Hidden("holidayhomes[" + i + "].numberofFloors", Model.holidayhomes[i].numberofFloors, new { })

        }
    }



                if (Model.rooms != null && Model.rooms.Count > 0)
                {
                    for (int i = 0; i < Model.rooms.Count; i++)
                    {



            @Html.Hidden("rooms[" + i + "].RoomId", Model.rooms[i].RoomId,new{})
            @Html.Hidden("rooms[" + i + "].Price", Model.rooms[i].Price,new{})
            @Html.Hidden("rooms[" + i + "].numberofGuests", Model.rooms[i].numberofGuests,new{})
            @Html.Hidden("rooms[" + i + "].numberofBeds", Model.rooms[i].numberofBeds,new{})
            @Html.Hidden("rooms[" + i + "].doubleBed", Model.rooms[i].doubleBed,new{})
            @Html.Hidden("rooms[" + i + "].petsAllowed", Model.rooms[i].petsAllowed,new{})
            @Html.Hidden("rooms[" + i + "].Kitchen", Model.rooms[i].Kitchen,new{})
            @Html.Hidden("rooms[" + i + "].Toilet", Model.rooms[i].Toilet,new{})
            @Html.Hidden("rooms[" + i + "].numberofTelevisions", Model.rooms[i].numberofTelevisions,new{})
            }
            }




            <div>
                <input type="submit" value="Search" class="form-control" />
            </div>
            }
        </div>

        <div class="col-lg-8">
            @*@foreach (var item in Model.holidayhomes)
                {
                    <div>@item.HolidayHomeId    @item.numberofGuests     @item.numberofBeds</div>
                }*@











            @foreach (var item in Model.holidayhomes)
            {

        <div class="row" style="background-color:#A0FCD2">
            <div class="col-lg-4">
                @if (item.Images != null && item.Images.Count > 0)
                        {
        <img src="@Url.Content(item.Images.FirstOrDefault().ImagePath)" />
                        }

            </div>

            <div class="col-lg-8">

                <h3>Number of guests  @item.numberofGuests    Number of beds @item.numberofBeds</h3>

                <p>
                    Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum.
                </p>

                @Html.ActionLink("Show", "ShowDetailsHolidayHome", "Home", new {Id=item.HolidayHomeId }, new {@class="btn btn-success" })

            </div>
        </div>


            }



            @foreach (var item in Model.rooms)
            {

        <div class="row" style="background-color:#B5DDFF ">
            <div class="col-lg-4">
                @if (item.Images != null && item.Images.Count > 0)
                        {
        <img src="@Url.Content(item.Images.FirstOrDefault().ImagePath)" class="img-responsive" />
                        }

            </div>

            <div class="col-lg-8">

                <h3>Number of guests  @item.numberofGuests    Number of beds @item.numberofBeds</h3>

                <p>
                    Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum.
                </p>

                @Html.ActionLink("Show", "ShowDetailsRoom", "Home", new { Id = item.RoomId }, new { @class = "btn btn-success" })

            </div>
        </div>


            }










        </div>



    </div>

</div>


@section scripts
{
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script>
        $(function () {
            $('.datepicker').datepicker();
        });
    </script>






}