@using HolidayApp.Models
@model HolidayViewModel


@{
    ViewBag.Title = "Home Page";
    bool showHotel;
    bool showResort;
}

<div class="container">
    <div class="row">
        <div class="col-lg-4" id="SortElements" style="background-color:greenyellow;">
           Sort Form
        </div>
        <div class="col-lg-8" id="ShowElements" style="background-color:yellow;">
            
            <div>

                @foreach (var item in Model.HotelList)
                {
                    <div>
                        <p>@item.Name</p>   <p>@item.City</p>

                        @*<p>@item.Rooms.FirstOrDefault().numberofGuests</p>*@

                    </div>
                }


            </div>
            
            <div>
                <br />
                @foreach (var item in Model.ResortList)
                {
                    <div>
                        <p>@item.Name</p>   <p>@item.City</p>

                        @*<p>@item.Rooms.FirstOrDefault().numberofGuests</p>*@

                    </div>
                }


            </div>
            <br />
            <div>

                @foreach (var item in Model.RoomList)
                {

                    {

                        try
                        {
                            showHotel = item.Hotel != null;
                        }
                        catch
                        {
                            showHotel = false;
                        }

                        try
                        {
                            showResort = item.Resort != null;
                        }
                        catch
                        {
                            showResort = false;
                        }


                    }


                    if (showHotel)
                    {
                        <div>
                            <p>@item.Hotel.Name  </p>   <p> @item.Hotel.City</p>  

                            <p>@item.numberofGuests</p>

                        </div>
                    }
                    else if(showResort)
                    {
                        <div>
                            <p>   @item.Resort.Name</p>   <p>@item.Resort.City </p>

                            <p>@item.numberofGuests</p>

                        </div>
                    }


                }


            </div>



        </div>
    </div>
</div>
