@using HolidayApp.Entities
@using HolidayApp.Models
@model HolidayHome
@{
    ViewBag.Title = "ShowDetailsHolidayHome";
}
<link rel='stylesheet' type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.min.css' />


<style type="text/css">

    .field-validation-error {
        color: red;
    }
   
</style>
<h2>ShowDetailsHolidayHome</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            @foreach (var item in Model.Images)
            {
                <img src="@Url.Content(@item.ImagePath)" class="img-responsive">
            }
        </div>


    </div>
    <div class="row">
        <div class="col-lg-12" id="PicturesSmall">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-8" id="Description">

        </div>
        <div class="col-lg-4" id="Stats">
            <table class="table-striped">

                <tbody>
                    <tr>
                        <td>Price </td>
                        <td>@Model.Price</td>
                    </tr>
                    <tr>
                        <td>Number of Guests</td>
                        <td>@Model.numberofGuests</td>
                    </tr>
                    <tr>
                        <td>Number of Beds</td>
                        <td>@Model.numberofBeds</td>
                    </tr>
                    <tr>
                        <td>Double Bed</td>
                        <td>  @(Model.doubleBed ? "Yes" : "No")</td>


                    </tr>
                    <tr>
                        <td>Are pets allowed </td>
                        <td>@(Model.petsAllowed ? "Yes" : "No")</td>
                    </tr>
                    <tr>
                        <td>Kitchen</td>
                        <td>@(Model.Kitchen ? "Yes" : "No")</td>
                    </tr>
                    <tr>
                        <td>Toilet</td>
                        <td>@(Model.Toilet ? "Yes" : "No")</td>
                    </tr>
                    <tr>
                        <td>Number of TV</td>
                        <td>@Model.numberofTelevisions</td>
                    </tr>
                    <tr>
                        <td>Number of Floors</td>
                        <td>@Model.numberofFloors</td>
                    </tr>

                </tbody>



            </table>





        </div>
    </div>

</div>











@*<div class="container">
    <div row>
        <div class="col-lg-12">
            <div id="calendar">

            </div>
           


        </div>
    </div>

</div>*@


@*<div class="container">
    <div class="row">
        <div class="col-lg-8">
            @using (Html.BeginForm("ReserveHolidayHome", "Client"))
            {
             
                @*<div class="form-group">
                    <div>
                        @Html.ValidationMessage("dateFrom")
                    </div>
                  
                    @Html.Label("Book From")
                    @Html.TextBox("dateFrom", "",  new { @class = "form-control   datepicker" })
                </div>
                <div class="form-group">
                    <div>
                        @Html.ValidationMessage("dateTo")
                    </div>
                   
                    @Html.Label("Book To")
                    @Html.TextBox("dateTo", "", new { @class = "form-control datepicker" })
                </div>
               <div>
                   @Html.Hidden("holidayhomeId", Model.HolidayHomeId)
                  
                  

               </div>

                <div>
                    <input type="submit" value="Book" class="form-control" />
                </div>*@






            @*}
        </div>
    </div>
</div>*@
<div>
    @Html.ActionLink("Book", "BookHolidayHome","Client",new {Id=Model.HolidayHomeId },new {@class="btn btn-success" })
</div>
@*<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
@section scripts
{
    
<script src="~/Scripts/moment.js"></script>

<script src="~/Scripts/jquery-3.2.1.js"></script>

<script src="~/Scripts/fullcalendar.js"></script>






@*<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript">
    $(function () {
       $('.datepicker').datepicker(); 
    });
</script>*@
    


 




@*<script>
          $(document).ready(
              function () {

                  $('#calendar').fullCalendar();
              }
          );
</script>*@



            @*function () {




                //for (i = 0; i < jsonlist.length; i++) {
                //    alert(jsonlist[i]);

                //}

                @*var jsonlist = @Html.Raw(Json.Encode(Model));
            var length = jsonlist.length;
            var collection = new Set();*@






                @*//viewRender: function () {

                //    for (i = 0; i < length; i++) {


                //        $("[data-date=" + jsonlist[i] + "]").css("background-color", "red");


                //    }










                //},
                //dayClick: function (date, jsEvent, view) {

                //    collection.add(date.format());
                //    //alert('Clicked on: ' + date.format());

                //    //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);

                //    //alert('Current view: ' + view.name);

                //    // change the day's background color just for fun
                //    $(this).css('background-color', 'red');

                //}





            //});


            //}








            //}*@



       








  
    
    @*}*@