@using HolidayApp.Entities
@model Parking
@{
    ViewBag.Title = "ShowDetailsRoom";
}

<h2>ShowDetailsParking</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            @foreach (var item in Model.Images)
            {
                <img src="@Url.Content(@item.ImagePath)" class="img-responsive">
            }
        </div>


    </div>
    <div class="row">
        <div class="col-lg-12" id="PicturesSmall">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-8" id="Description">

        </div>
        <div class="col-lg-4" id="Stats">
            <table class="table-striped">

                <tbody>
                    <tr>
                        <td>Price per Day</td>
                        <td>@Model.pricePerDay</td>
                    </tr>
                    <tr>
                        <td>Parking Places</td>
                        <td>@Model.parkingPlaces</td>
                    </tr>
                    <tr>
                        <td>Is it Guarded</td>
                        <td>@(Model.Guarded?"Yes" : "No")</td>
                    </tr>
                  

                </tbody>



            </table>





        </div>
    </div>

</div>
