@using HolidayApp.Entities
@model Resort
@{
    ViewBag.Title = "Edit Resort";
}



<div class="container">
    <div class="row">
        <div class="col-lg-6 ">
            <h2>Rooms</h2>

            @if (Model.Rooms != null)
            {

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Room Id</th>
                            <th>Number of Guests</th>
                            <th>Number of Beds</th>
                            <th>Add Picture</th>
                            <th>Show Pictures</th>
                            <th>Delete Room</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Rooms)
                       {
                            <tr>
                                <td>@Html.ActionLink(item.RoomId.ToString(), "ShowDetailsRoom", "Home", new { Id = item.RoomId }, null)</td>
                                <td>@item.numberofGuests</td>
                                <td>@item.numberofBeds</td>
                                <td>@Html.ActionLink("Add Pictures", "AddPictures", new { Id = item.RoomId, type = 2 }, new { @class = "btn btn-success" })</td>
                                <td>@Html.ActionLink("Show Pictures", "ShowPictures", new { TypeId = item.RoomId, objectType = "Roomtype" }, new { @class = "btn btn-success" })</td>
                                <td>@Html.ActionLink("Delete","DeleteRoom",new {id=item.RoomId, resortId = Model.ResortId,hotelId=0 },new {@class="btn btn-danger" }) </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.ActionLink("Add Room", "AddRoom", new { id = Model.ResortId, name = "Resort" }, new { @class = "btn btn-primary" })




           
            }



        </div>
       

        <div class="col-lg-6 ">
            @if (Model.Parkings != null)
            { 
                <h2>Parking</h2>
                <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Parking Id</th>
                        <th>Parking Places</th>
                        <th>Price per Day</th>
                        <th>Guarded</th>
                        <th>Add Picture</th>
                        <th>Show Pictures</th>
                        <th>Remove Parking</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Parkings)
                    {
                        <tr>
                            <td>@Html.ActionLink(item.ParkingId.ToString(), "ShowDetailsParking", "Home", new { Id = item.ParkingId }, null)</td>
                            <td>@item.parkingPlaces</td>
                            <td>@item.pricePerDay</td>
                            <td>@item.Guarded</td>
                            <td>@Html.ActionLink("Add Pictures", "AddPictures", new { Id = item.ParkingId, type = 4 }, new { @class = "btn btn-success" })</td>
                            <td>@Html.ActionLink("Show Pictures", "ShowPictures", new { TypeId = item.ParkingId, objectType = "Parkingtype" }, new { @class = "btn btn-success" })</td>
                            <td>@Html.ActionLink("Delete", "DeleteParking", new { id = item.ParkingId, resortId=Model.ResortId,hotelId=0 }, new { @class = "btn btn-danger" }) </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.ActionLink("Add Parking", "AddParking", new { id = Model.ResortId, name = "Resort" }, new { @class = "btn btn-primary" })
            }


        </div>
      


       


    </div>


    <div class="row">
        <div class="col-lg-8 ">
            @if (Model.HolidayHomes != null)
            {
                <h2>Holiday Home</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>HolidayHome Id</th>
                            <th>Number of Guests</th>
                            <th>Number of Beds</th>
                            <th>Floors</th>
                            <th>Add Picture</th>
                            <th>Show Pictures</th>
                            <th>Delete HolidayHome</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.HolidayHomes)
                        {
                            <tr>
                                <td>@Html.ActionLink(item.HolidayHomeId.ToString(), "ShowDetailsHolidayHome", "Home", new { Id = item.HolidayHomeId }, null)</td>
                                <td>@item.numberofGuests</td>
                                <td>@item.numberofBeds</td>
                                <td>@item.numberofFloors</td>
                                <td>@Html.ActionLink("Add Pictures", "AddPictures", new { Id = item.HolidayHomeId, type = 3 }, new { @class = "btn btn-success" })</td>
                                <td>@Html.ActionLink("Show Pictures", "ShowPictures", new { TypeId = item.HolidayHomeId, objectType = "HolidayHometype" }, new { @class = "btn btn-success" })</td>
                                <td>@Html.ActionLink("Delete", "DeleteHolidayHome", new { id = item.HolidayHomeId, resortId = Model.ResortId }, new { @class = "btn btn-danger" }) </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.ActionLink("Add HolidayHome", "AddHolidayHome", new { id = Model.ResortId, name = "Resort" },new {@class="btn btn-primary" })





            }


        </div>
        <div class="col-lg-4">
            <h2>Edit Resort</h2>
            @using (Html.BeginForm("EditResort", "Owner"))
            {
                <div>
                    @Html.LabelFor(x => x.Name)
                    <br />
                    @Html.TextBoxFor(x => x.Name)
                </div>
                    <div>
                        @Html.LabelFor(x => x.City)
                        <br />
                        @Html.TextBoxFor(x => x.City)
                    </div>
                    <div>
                        @Html.LabelFor(x => x.TelephoneNumber)
                        <br />
                        @Html.TextBoxFor(x => x.TelephoneNumber)
                    </div>
                    <div>
                        @Html.LabelFor(x => x.Country)
                        <br />
                        @Html.TextBoxFor(x => x.Country)
                    </div>
                    @Html.Hidden("ResortId")
                    <div>
                        <br />
                        <input type="submit" value="Change" class="btn btn-warning" />
                    </div>
                    <div>@Html.ActionLink("Add Pictures", "AddPictures", new { Id = Model.ResortId, type = 1 }, new { @class = "btn btn-success" })</div>
                    <div>@Html.ActionLink("Show Pictures", "ShowPictures", new { TypeId = Model.ResortId, objectType = "Resorttype" }, new { @class = "btn btn-success" })</div>
                    <div>@Html.ActionLink("Remove Resort","RemoveResort",new { id = Model.ResortId }, new { @class = "btn btn-danger" })</div>

            }
        </div>
    </div>






</div>
