@using HolidayApp.Models
@model HolidayViewModel
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">

        <div class="col-lg-4">
            <h2>List of Hotels</h2>
            @foreach (var item in Model.HotelList)
            {
                if (item != null)
                {
                    <div>@item.Name  @item.City   @Html.ActionLink("Edit Hotel", "EditHotel", new { Id = item.HotelId })    </div>
                }

            }

            @Html.ActionLink("Add Hotel", "AddHotel")
        </div>
        <div class="col-lg-4">
            <h2>List of Resorts</h2>
            @foreach (var item in Model.ResortList)
            {

                if (item != null)
                {
                    <div>@item.Name  @item.City   @Html.ActionLink("Edit Resort", "EditResort", new { Id = item.ResortId }) </div>
                }


            }

            @Html.ActionLink("Add Resort", "AddResort")


        </div>
        <div class="col-lg-4">
            <h2>List of Rooms</h2>
         
            @foreach (var item in Model.RoomList)
            {

                if (item.Hotel != null)
                {
                    <div>
                        <p>@item.Hotel.Name  </p>   <p> @item.Hotel.City</p>

                        <p>@item.numberofGuests</p>

                    </div>
                }
                else if (item.Resort != null)
                {
                    <div>
                        <p>   @item.Resort.Name</p>   <p>@item.Resort.City </p>

                        <p>@item.numberofGuests</p>

                    </div>
                }


            }

                       


      </div>

    </div>
</div>

