@using HolidayApp.Models
@model HolidayViewModel
@{
    ViewBag.Title = "Index Owner";
}

<div class="container">
    <div class="row">

        <div class="col-lg-4">
            <h1> Hotels</h1>

            <table class="table table-responsive">
                <tbody>
                    @foreach (var item in Model.HotelList)
            {
                if (item != null)
                {
                            <tr>
                                <td class="active">
                                   <p>@Html.ActionLink(item.Name , "ShowDetailsHotel","Home", new { Id = item.HotelId },null)</p>
                                </td>
                                <td>
                                    @item.City
                                </td>
                                <td>
                                    @Html.ActionLink("Edit Hotel", "EditHotel", new { Id = item.HotelId }, new { @class = "btn btn-warning" })
                                </td>
                            </tr>

                        }

                    }

                </tbody>
            </table>


            @*@foreach (var item in Model.HotelList)
                {
                    if (item != null)
                    {
                        <div>@item.Name  @item.City   @Html.ActionLink("Edit Hotel", "EditHotel", new { Id = item.HotelId })    </div>
                    }

                }*@

            @Html.ActionLink("Add Hotel", "AddHotel", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-lg-4">
            <h1>Resorts</h1>
            <table class="table table-responsive">
                <tbody>
                    @foreach (var item in Model.ResortList)
            {

                if (item != null)
                {
                            <tr>
                                <td class="active"><p>@Html.ActionLink(item.Name, "ShowDetailsResort", "Home", new { Id = item.ResortId }, null)</p></td>
                                <td>@item.City</td>
                                <td>@Html.ActionLink("Edit Resort", "EditResort", new { Id = item.ResortId },new {@class="btn btn-warning" })</td>
                            </tr>
                            
                        }


                    }
                </tbody>
            </table>



            @*@foreach (var item in Model.ResortList)
            {

                if (item != null)
                {
                    <div>@item.Name  @item.City   @Html.ActionLink("Edit Resort", "EditResort", new { Id = item.ResortId }) </div>
                }


            }*@

            @Html.ActionLink("Add Resort", "AddResort", null, new { @class = "btn btn-primary" })


        </div>
        <div class="col-lg-4">
            <h1> Rooms</h1>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="active">Hotel Name</th>
                        <th>City </th>
                        <th>Number of Guests</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var item in Model.RoomList)
                    {

                        if (item.Hotel != null)
                        {


                     <tr>
                         <td class="active"><p>@Html.ActionLink(item.Hotel.Name, "ShowDetailsRoom", "Home", new { Id = item.RoomId }, null)</p></td>
                     
                         <td>@item.Hotel.City </td>
                         <td>@item.numberofGuests </td>
                     </tr>
                       



                        }
                        else if (item.Resort != null)
                        {

                            <tr>
                                <td class="active"><p>@Html.ActionLink(item.Resort.Name, "ShowDetailsRoom", "Home", new { Id = item.RoomId }, null)</p></td>
                                <td>@item.Resort.Name </td>
                                <td>@item.Resort.City </td>
                                <td>@item.numberofGuests </td>
                            </tr>
                           
                           
                        }


                    }

                    </tbody>
                </table>


        </div>

    </div>
</div>
